 body {
	font-family: Nueva Std Cond;
	color: #FFFFFF;
	font-style: italic;
	font-size: 15pt;
	background-color: #030;
	}
a:link {
	text-decoration: none;
	color: #0F0;
	}
a:visited {
	text-decoration: none;
	color: #66FFFF;
	}
a:hover {
	text-decoration: none;
	color: #F00;
	}
footer {
	text-align: center;
	font-size: 12pt;
	font-family: Arial;
	}
.header2 {
	text-align: center;
	font-size: 30pt;
	color: #7695FC;
	}
.section-header {
	font-size: 20pt;
	color: #29FC22;
	font-family: Georgia;
	}
.aside-header {
	font-size: 20pt;
	color: #29FC22;
	font-family: Arial;
	}
#future-section {
	color: #EEFE00;
	}
#past-section {
	color: #FF0000;
	}
	
